# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore the npm debug log
npm-debug.log*

# Ignore .DS_Store files (Mac)
.DS_Store

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo

downloads